<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>index ejs</title>
</head>
<body class="bg-gray-300">
    <section>
        <!-- Task form -->
         <h1 class="text-center text-5xl font-semibold mt-5">Task Files Generator</h1>
         <div class="flex items-center justify-center mt-5">
            <form action="/rename" method="post">
                <input type="text" class="bg-gray-400 text-2xl rounded-xl block mb-2 px-3 py-1 " placeholder="<%=old%>" value="<%=old%>" name="old">
                <input type="text" class="bg-gray-400 text-2xl rounded-xl block mb-2 px-3 py-1 " placeholder="new name" name="new">
                <input type="submit" value="Rename File" class="bg-black text-white w-full rounded-xl px-4 py-2 active:scale-95 active:bg-gray-600">
            </form>
         </div>
    </section>
</body>
</html>