<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>file</title>
</head>
<body class="px-20 py-10 bg-gray-600 flex justify-center ">
    <section class="bg-white rounded-md shadow-2xl h-screen p-4 text-wrap">
        <p class="text-xl text-justify">
           <%= data %>
        </p>
    </section>
</body>
</html>